*,::before,
::after {
    box-sizing:border-box;
}
body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img {
    width: 100%;
    height: 100%;
}
.h1,h2,h3 {
    margin: 0;
}
.header {
    width: 100%;
    padding: 15px 0;

    text-align: center;
    font-size: 24px;
    font-weight: 300;
    color: gray;
}
.About__us {
    color: inherit;
    text-decoration: none;
    padding: 10%;

}
.header__logo {
    text-align: center;
    color: inherit;
    text-decoration: none;
    display: inline;
    padding: 5%;
    align-items: center;
}
.hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.hero__container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(290px,1fr));
    grid-gap: 20px;
}
.hero__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero__title {
    margin-bottom: 10px;

    font-size: 48px;
    line-height: 1.1;
}
.hero__subtitle {
    font-size: 32px;
    font-weight: 400;
    margin-left: -427px;
    margin-top: 13%;
}
.hero__description{
    float: left;
    margin-top: -15%;
}
.hero__links {
    display: flex;
    margin-left: -105%;
}
.hero__link {
    font-size: 30px;
    color: black;
}
.hero__link:hover {
    color: aqua;
}
.photo {
    width: 300px;
    height: 300px;
    margin-left: 500px;
    margin-top: -400px;
}   


